name: Build TeX & PDF

on:
  # Runs on pushes targeting the default branch
  push:
  pull_request:
    branches: ["main"]

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run ordering tests
        run: |
          sudo apt-get update -y
          sudo apt-get install -y bash
          make test-order
      - name: Upload ordering list on failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: ordering-list
          path: /tmp/_book_order.txt

  # Build job
  build:
    runs-on: ubuntu-latest
    needs: tests
    env:
      MDBOOK_VERSION: 0.4.36
    steps:
      - uses: actions/checkout@v4
      - name: Setup TeX
        uses: siacodelabs/setup-pandoc@v1
        with:
          xelatex: true
      - name: Compile Book
        run: make book-ci
      - name: Upload TeX Artifact
        uses: actions/upload-artifact@v4
        with:
          name: The Fruit (TeX)
          path: out/book/book.tex
      - name: Upload PDF Artifact
        uses: actions/upload-artifact@v4
        with:
          name: The Fruit (PDF)
          path: out/book/book.pdf
      - name: Upload Logs
        uses: actions/upload-artifact@v4
        with:
          name: Logs
          path: out/book/book.log
  
