name: Deploy mdBook site to Pages

on:
  # Runs on pushes targeting the default branch
  push:
  pull_request:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  # Build job
  build:
    runs-on: macos-latest
    env:
      MDBOOK_VERSION: 0.4.36
    steps:
      - uses: actions/checkout@v4
      - name: Install TeX dependencies
        run: |
          brew install pandoc gs basictex
          eval "$(/usr/libexec/path_helper)"
          # Update $PATH to include `/usr/local/texlive/2022basic/bin/universal-darwin`
          sudo tlmgr update --self
          sudo tlmgr install texliveonfly
          sudo tlmgr install xelatex
          sudo tlmgr install adjustbox
          sudo tlmgr install tcolorbox
          sudo tlmgr install collectbox
          sudo tlmgr install ucs
          sudo tlmgr install environ
          sudo tlmgr install trimspaces
          sudo tlmgr install titling
          sudo tlmgr install enumitem
          sudo tlmgr install rsfs
      - name: Build Tex & PDF
        run: |
          make book-ci
      - name: Upload PDF Artifact
        uses: actions/upload-artifact@v4
        with:
          name: The Fruit (PDF)
          path: out/book/book.pdf
      - name: Upload TeX Artifact
        uses: actions/upload-artifact@v4
        with:
          name: The Fruit (TeX)
          path: out/book/book.tex
      - name: Upload Logs
        uses: actions/upload-artifact@v4
        with:
          name: Logs
          path: out/book/book.log
  
  # Release as e-book file
  release:
    runs-on: macos-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      - name: Download PDF Artifact
        uses: actions/download-artifact@v4
        with:
          name: The Fruit (PDF)
          path: out/book/book.pdf
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v${{ github.run_number }}
          release_name: Release v${{ github.run_number }}
          draft: false
          prerelease: false
      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: out/book/book.pdf
          asset_name: The_Fruit_v${{ github.run_number }}.pdf
          asset_content_type: application/pdf
